

:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --bg-color: #2F303A;
    }    

    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
    }

    .visually-hidden {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0 !important;
      border: 0 !important;
      height: 1px !important;
      width: 1px !important;
      overflow: hidden;
    }

body {
    font-family: var(--main-font);
    font-style: normal;

}
ul{
      list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
}
    

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-right: 15px ;
    padding-left: 15px;
    }

/*======START MODAL FORM=======*/
.backdrop{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
  
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
 .backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form{
  display: flex;
  flex-direction: column;
}

.modal-form-title{
margin-bottom: 12px;
font-family:var(--main-font)
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color:var(--secondary-text-color)

}

.modal-form-field{

margin-bottom: 10px;
font-family:var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color:var(--primary-text-color);

}

.label-name{
  display: block;
  margin-bottom: 4px;
}
.modal-form-field-wrapper{
  display: block;
  position: relative;
  
  
}

.modal-form-svg-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  
  
}

.modal-form-input:focus,
.modal-form-message:focus{
  outline: none;
  border: 1px solid var(--accent-color) ;
}

.modal-form-input:focus +.modal-form-svg-icon{
  fill: var(--accent-color);
}

.modal-form-input{
display: block;
width: 100%;
height: 40px;
padding-left: 42px;
background-color: #FFFFFF;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;

}
.textarea-field{
  
  margin-bottom: 20px;
}

.modal-form-message{
display: block;
width: 100%;
padding: 12px 16px;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-policy:checked + .modal-form-policy-label::before{
  background-image: url(../img/checked.svg);
  background-color: #2196F3;
  background-repeat: no-repeat;
  border-color: #2196F3;
  
}

.modal-form-policy-label::before{
  content: "";
  display: inline-block;
  
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  
}


.modal-form-policy-label{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  font-family: var(--main-font);

}

.close-button{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus{
  fill: var(--accent-color);
}

.btn-wrapper{
  display: flex;
  justify-content: center;
}

.modal-form-btn{
 align-self: flex-start;
 border: 0px;
 border-radius: 4px;
padding: 11px 32px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
min-width: 200px;

font-weight: 700;
font-size: 16px;
line-height: 1.88;
align-items: center;
letter-spacing: 0.06em;
color: var(--title-text-color);
background-color:var(--accent-color);
cursor: pointer;
}


.check-link{
  text-decoration: underline;
}
/*======END MODAL FORM=========*/

/*-----START HEADER-------*/

.header {
  display: block;
    height: 80px;
    border-bottom: 1px solid #ececec;
}

.header .container{
    display: flex;
    }
    
.logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    color: #000000;
    
}
.logo-web{
    color: var(--accent-color);
}

.navigation{
    display: flex;
    align-items: center;
    
    
}
.navigation-list{
    display: flex;
    margin-left: 93px;
    
}

.navigation-list-item{

    margin-right: 50px;
    position: relative;
    
    }
.navigation-list-item:last-child{
    margin-right: 0;
}
.navigation .navigation-list-link.current{
    color: var(--accent-color);
   }


.navigation-list-link{
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.navigation-list-link.current::after{
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

 

.navigation-list-link:hover,
.navigation-list-link:focus{
color: var(--accent-color); 
}
 
.header-contacts{
    display: flex;
    align-items: center;
    margin-left:auto;
    }

.header-contacts-item{
    
    margin-right: 40px;
    
}


.header-contacts-item:last-child{
margin-right: 0;
}

.header-mail-link{
    display: flex;
    align-items: center;
}
.envelope-svg{
    
    margin-right: 10px;
    fill: currentcolor;
    
}
.header-tel-link{
    display: flex;
    align-items: center;
}
.smartphone-svg{
    margin-right: 10px;
    fill: currentcolor;
}
.envelope-svg:hover,
.envelope-svg:focus,
.smartphone-svg:hover,
.smartphone-svg:focus{

    fill: var(--accent-color);
}

.header-tel-link,
.header-mail-link{
font-weight: 500;
font-size: 14px;
line-height: 1,15;
letter-spacing: 0.02em;
color: var(--primary-text-color);
transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header-tel-link:hover,
.header-tel-link:focus,
.header-mail-link:hover,
.header-mail-link:focus {
color: var(--accent-color);
}

/*------END HEADER--------*/

/*--------START HERO----------*/

.overlay{
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
     url(../img/bground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero{
    padding-top: 200px;
    text-align: center;
 
 
}

.hero-title{
  margin-bottom: 30px;
   font-size: 44px;
   line-height: 1.37;
   text-align: center;
   letter-spacing: 0.06em;
   font-weight: 900;
   text-transform: uppercase;
   color: var(--title-text-color);
}
.hero-button{
  display: inline-block;
  border-radius: 4px;
  padding: 11px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  min-width: 200px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  background-color:var(--accent-color);
  cursor: pointer;
  
}


/*--------END HERO------------*/

/*--------START FEATURES-------*/
.features{
  padding-top: 94px;  
  padding-bottom: 94px ;
}
.features-list{
    display: flex; 
}
.features-list-item::before {
    display: block; 
    content: '';
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .icon-1::before {
    background-image: url(../img/antenna.svg);
  }
  .icon-2::before {
    background-image: url(../img/clock.svg);
  }
  .icon-3::before {
    background-image: url(../img/diagram.svg);
  }
  .icon-4::before {
    background-image: url(../img/astronaut.svg);
  }
  

.features-list-item:not(:last-child){
    margin-right:30px;
}

.features-list-item{
    
    width: 270px;
    }


.features-subtitle{
margin-bottom: 10px; 

font-weight: 700;
font-size: 14px;
line-height: 1.50;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-text-color);
}
.features-text{
  
font-weight: 400;
font-size: 14px;
line-height: 1.73;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

/*--------END FEATURES-------*/

/*------START WHAT WE DO----------*/

.examples{
    padding-bottom: 94px;
     
}

.examples-list{
    display: flex;
    justify-content: space-between;
}
.examples-titles{
margin-bottom: 50px;

font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.wrapper-examples{
  position: relative;
}

.overlay-examples{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.text-overlay-examples{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin: 0 auto;
}

/*------END WHAT WE DO----------*/

/*------START OUR TEAM----------*/

.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
    
}

.team-title{

margin-bottom: 50px;


font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.team-list{
    display: flex;
    justify-content: space-between;
}
.teammate-item{
    


    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.teammate-item h3{
    
 text-align: center;

}
.teammate-name{
margin-top: 30px;
margin-bottom: 10px;

font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.teammate-position{
margin-bottom: 16px;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
color: var(--primary-text-color);
}
.social-list {

    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  
  }
  
  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  
  }
  
  .social-list-link:hover,
  .social-list-link:focus {
  
    background-color: var(--accent-color);
  
  }
  
  .social-list-link:hover .social-svg,
  .social-list-link:focus .social-svg {
  
    fill: #ffffff;
  }
  
.description-container{
    padding-bottom: 30px;
}

/*------END OUR TEAM----------*/

/*--------START CLIENTS--------*/
.clients-section {
    padding-bottom: 94px;
    padding-top: 94px ;
}
  
.clients-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
    
  }
  .clients-list {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }
  .clients-item {
        
    Width: 170px;
    Height: 90px;
  }
  .clients-link:hover,
  .clients-link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    color: var(--accent-color);
    
  }
  .clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 170px;
    Height: 90px;
    color: #757575;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  }
  .clients-icon {
    fill: currentcolor;
  }
  
/*--------END CLIENTS---------*/

/*------START FOOTER---------*/

.footer{
  background-color: var(--bg-color);
}
.container-footer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    padding-top: 60px;
}
.footer-contacts{
    margin-right: 70px;
}

.logo-footer{
    color: #FFFFFF;
}
.webstudio{
    display:block ;
    margin-bottom: 20px;
}

.address-footer-item:not(:last-child){
    margin-bottom: 9px;

    }

.footer address{

font-style: normal;
}
.address{
font-weight: 400;
font-size: 14px;
line-height: 1.72;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.footer-mail-link{
font-weight: 400;
font-size: 14px;
line-height: 1.72;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link{
font-weight: 400;
font-size: 14px;
line-height: 1.72;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}

    
    

.footer-connections h2 {
    margin: 0;
    padding: 0;
    padding-top: 12px;
    margin-bottom: 20px;
    
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     color: var(--title-text-color);
  }
  .social-list-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  
  }
  .social-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--title-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  }
  .item-link-footer:not(:last-child) {
    margin-right: 10px;
  }
  .social-link-footer:hover,
  .social-link-footer:focus {
    background-color: var(--accent-color);
  }

  .subscribe{
    margin-left: 93px;
  }

  .subscribe-form{
    display: flex;
  }
.subscribe-title{
  padding-top: 12px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  font-family: var(--main-font);
}

.subscribe-input{
width: 358px;
height: 50px;
padding-left: 16px;
margin-right: 12px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
background-color: transparent;
border-radius: 4px;

font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn{
display: flex;
align-items: center;
justify-content: center;

width: 200px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 0px;
cursor: pointer;

font-family: var(--main-font);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
color: #FFFFFF;
}

.subscribe-btn::after{
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  

  background-image: url(../img/send.svg);
  background-size: contain;
  
}

/*------END FOOTER---------*/

/*------START PORTFOLIO---------*/


.portfolio{
  padding-top: 94px;
  padding-bottom:94px;
}
.portfolio-filter{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

}

.portfolio-filter-btn{
  display: inline-block; 
  border: 0px;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
 
  
 }
    .portfolio-filter-btn:hover,
    .portfolio-filter-btn:focus{
    color: var(--title-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    }

.button{
    
    background: #F5F4FA;
    border-radius: 4px;
}     



    .button:not(:last-child){
        margin-right: 8px;
    }
 
    

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    }

.portfolio-list-item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

.portfolio-list-item:hover .overlay-portfolio{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0%);

  }
  .portfolio-list-link:focus .overlay-portfolio{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0%);
  
    }
  .portfolio-list-link{
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-link:hover,
.portfolio-list-link:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-item:nth-child(3n){
    margin-right: 0px;
}
.portfolio-list-item:nth-last-child(-n + 3){
    margin-bottom: 0px;
}
.portfolio-list-item h2{
    margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio-list-item p{
    margin-bottom: 0px;
  margin-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  
}
.wrapper-portfolio{
  position: relative;
  overflow: hidden;
}
.overlay-portfolio{
  
  position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    margin: 0;
    padding: 63px 24px;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.overlay-text-portfolio{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
  }

.list-container{
    border-top: 0px solid #eeeeee;;
    border-left:  1px solid #eeeeee;
    border-right:  1px solid #eeeeee;
    border-bottom:  1px solid #eeeeee;
    
    
}

 .portfolio-list-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--secondary-text-color);
}
.portfolio-list-text{
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}


/*------END PORTFOLIO---------*/